version: "3.9"

services:
  chats-api:
    image: chats-api
    depends_on:
      - cassandra
    environment:
      CASSANDRA_SESSION_CONTACTPOINT: cassandra2
    expose:
      - "8080"
    ports:
      - "8080:8080"
    networks:
      - chattr-local

  messenger-api:
    image: messenger-api
    depends_on:
      - cassandra
    environment:
      DATASTAXJAVADRIVER_BASIC_CONTACTPOINTS: cassandra2:9042
    expose:
      - "8081"
      - "7354"  # remote artery port
    ports:
      - "8081:8081"
    networks:
      - chattr-local

  cassandra:
    image: bitnami/cassandra:5.0.4
    container_name: cassandra2
    expose:
      - "9042"
    ports:
      - "9042:9042"  # CQL port
      - "7000:7000"  # inter-node communication
      - "7001:7001"  # TLS inter-node communication
      - "7199:7199"  # JMX monitoring
      - "9160:9160"  # Thrift service (deprecated but sometimes used)
    environment:
      - CASSANDRA_CLUSTER_NAME=ChattrCluster
      - CASSANDRA_DC=dc1
      - CASSANDRA_RACK=rack1
      - CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch
      - MAX_HEAP_SIZE=512M
      - HEAP_NEWSIZE=100M
      - CASSANDRA_DELAY_START_TIME=1
      # username is cassandra, password is cassandra
    volumes:
      - ./data/cassandra:/bitnami
      - ../../messenger-api/src/main/resources/migrations:/docker-entrypoint-initdb.d
    networks:
      - chattr-local

  nginx:
    image: nginx:1.25
    container_name: nginx_gateway
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
    depends_on:
      - chats-api
      - messenger-api
    networks:
      - chattr-local

networks:
  chattr-local: